
body {
	background: #FFF0F5;
	font-family: Arial;
}

#title {
	font-size: 75px;
	background: white;
	color: hotpink;
	text-align: left;
}

#labels {
	font-size:20px;
	text-align: center;
	background: hotpink;
	color: white;
}

.paras {
	font-family: "Lucida Console", monospace;
	color: white;
	background: pink;
	margin-left: 20px;
	width: 50%;
}
